header {
  height: 10vh;
  line-height: 10vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  color: #fff;
  position: relative;
  z-index: 999;
}
.logo img {
  width: 150px;
  margin-top: 20px;
  margin-right: 30px;
}
header a {
  color: #fff;
  margin-left: 30px;
}
header i {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 10px;
}

header i:hover{
  cursor: pointer;
}

header .link {
  border-radius: 10px;
  font-size: 18px;
  background-color:#e50813;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  /* font-weight: bold; */
}
.toggle {
  display: none;
}
.log-out{
  border-radius: 10px;
  margin-left: 5px;
  height: 50px;
  font-size: 18px;
}
.log-out:hover{
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  header nav .flexSB {
    display: none;
  }
  .account {
    display: none;
  }
  .navMenu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e50813;
    width: 50%;
    height: 100vh;
    z-index: 9999;
  }
  header ul li {
    align-items: left;
    margin-top: 30px;
    padding: 0 50px;
  }
  .toggle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    cursor: pointer;
    background: none;
  }
}
