.login{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login input {
    width: 50.1%;
    padding: 15px;
    border-radius: 12px;
    margin: 20px 0px;
    border: 2px solid red;
    outline-color: rgb(125, 10, 10);
}
.login span {
    width: 50%;
    display: flex;
    justify-content: center;
}
.login span a {
    width: 200px;
    padding: 11px 7px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 18px;
}